.root {
  border: 1px solid #E6E6E6;
  padding: 20px 20px 40px;

  order: 1;

  margin-bottom: 30px;
}

.image {
  text-align: center;
}

.block {
  margin: 30px 0 20px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  font-size: 14px;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.coupon {
  margin-top: 25px;

  a {
    border-bottom: 1px dashed #979797;
  }
}

@media screen and (max-width: 768px) {
  .root {
    border-color: transparent;
  }
}