.wrapper {
  padding: 0 15px;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 400px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1;
  color: black;
}

.subtitle {
  color: #FF408E;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 1;
  color: black;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-top: 25px;

  a {
    text-decoration: underline;
    color: #9B9B9B;
  }
}

.button {
  background: #FF458F;
  padding: 13px 110px 13px 60px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  border: 0;
  margin-left: 25px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;

  &:hover {
    background: #F02676;

    &:after {
      transform: translateY(-50%) translateX(10px);
    }
  }

  &:after {
    background-image: url(./arrow.png);

    content: " ";
    width: 22px;
    height: 16px;

    transition: all 300ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
  }
}

.helper {
  padding: 18px 12px 0;
  font-size: 12px;
}

/* Gap */
.gap {
  margin: 30px 0 0;
}

// Checkbox
.checkbox {
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  line-height: 1;

  span {
    position: absolute;
    left: 0;
    top: -2px;
    border: 1px solid #FF458F;
    width: 20px;
    height: 20px;

    transition: all 300ms;
  }

  input {
    display: none;
  }

  input:checked ~ span {
    background: #FF6BA6;

    &:after {
      content: '\2714';
      position: absolute;
      font-size: 15px;
      color: white;
      transition: all .2s;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
    }
  }
}

/* Position */
.header {
  grid-column: 2;
  grid-row: 1 / 1;
}

.product {
  grid-row: 1 / span 2;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 3;

  font-size: 16px;

  img {
    margin: 20px 0;
  }
}

.main {
  grid-column: 2;
  grid-row: 2 / span 3;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .title, .subtitle, .sectionTitle {
    text-align: center;
  }

  .button {
    width: 100%;
    margin-left: 0;

    &:after {
      display: none;
    }
  }

  .main {
    margin-left: 0;
  }

  // Grid
  .wrapper {
    grid-template-columns: 100%;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
  }
  
  .product {
    grid-column: 1;
    grid-row: 2;
  }
  
  .main {
    grid-column: 1;
    grid-row: 3;
  }
  
  .description {
    flex-direction: column-reverse;
    align-items: center;

    grid-column: 1;
    grid-row: 4;

    margin-top: 30px;
  }
}